<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
	<footer class="row" th:fragment="footer">
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<div class="large-6 columns">
					<p>Copyright no one at all. Go to town.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#" th:href="@{/home/metrics}">Metrics</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>