<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
<title>Sample Web App</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	href="../../css/foundation.min.css"
	th:href="@{/css/foundation.min.css}" />
</head>
<body>
	<div class="row" th:fragment="menu">
		<div class="large-3 columns">
			<h1>
				<a href="#" th:href="@{/home}"> <img
					src="../../images/volkswagen.jpg"></img>
				</a>
			</h1>
		</div>
		<div class="large-9 columns">
			<ul class="button-group right">
				<li><a href="#" th:href="@{/home/sample}" class="button">Sample Page</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
