<head th:include="fragments/header :: head">
   <title>${pagetitle}</title>
   <!-- metas, link and scripts -->
</head>
<body>
<div class="row" th:include="fragments/header :: menu"></div>
<div class="row">
	<div class="large-12 columns">
		<img src="http://placehold.it/1000x400"></img>
		<hr/>
	</div>
	<div class="large-12 columns">
		<h1>
			Cloud Foundry Instance Id: <c:out value="${instanceIndex}" />
		</h1>
		<hr/>
	</div>
</div>
<h2>There was an error processing the template</h2>
<div th:replace="fragments/footer :: footer">...</div>