<head th:include="fragments/header :: head">
   <title>${pagetitle}</title>
   <!-- metas, link and scripts -->
</head>
<body>
<div class="row" th:include="fragments/header :: menu"></div>
<div class="row" style="padding-bottom: 80px">
	<div class="large-4 columns">
		<h1>
			Hostname:
		</h1>
	</div>
	<div class="large-8 columns">
		<h1 th:text="${hostname}">
			Not able to set 
		</h1>
	</div>
	<div class="large-4 columns">
		<h1>
			Instance Index:
		</h1>
	</div>
	<div class="large-8 columns">
		<h1 th:text="${instanceIndex}">
			Not able to set 
		</h1>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<img src="http://placehold.it/400x300"></img>
	</div>
	<div class="large-8 columns">
		<h4>This is a content section.</h4>
		<div class="row">
			<div class="large-6 columns">
				<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation
					eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore
					aliqua non est magna in labore pig pork biltong. Eiusmod swine
					spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump
					corned beef.</p>
			</div>
			<div class="large-6 columns">
				<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork
					chop in. Swine short ribs meatball irure bacon nulla pork belly
					cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui
					bresaola enim jowl. Capicola short ribs minim salami nulla nostrud
					pastrami.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-8 columns">
		<h4>This is a content section.</h4>

		<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation
			eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore
			aliqua non est magna in labore pig pork biltong. Eiusmod swine spare
			ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>

		<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop
			in. Swine short ribs meatball irure bacon nulla pork belly cupidatat
			meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim
			jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

	</div>
	<div class="large-4 columns">
		<img src="http://placehold.it/400x300"></img>
	</div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>